In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import surprise as sp
from surprise import SVD
from surprise.model_selection import cross_validate
from sklearn.metrics.pairwise import cosine_similarity
from surprise import Dataset
import pickle

In [2]:
df = pd.read_csv('../Data/Processed_user.csv',index_col=[0])
movies = pd.read_csv('../Data/movie_titles.csv',encoding='latin1')

C:\Users\mattm\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
df.columns = ['User','Rating','Date','movie_id']

In [4]:
df.head()

          User  Rating        Date  movie_id
52551  1392773     4.0  2004-04-20        28
52552  1697479     4.0  2005-07-07        28
52553  1990901     5.0  2004-02-16        28
52555  1402412     2.0  2003-02-11        28
52556   765331     3.0  2003-03-20        28

In [5]:
df_with_titles = pd.merge(df,movies,on='movie_id')

In [6]:
df_with_titles.head()

      User  Rating        Date  movie_id    year            title
0  1392773     4.0  2004-04-20        28  2002.0  Lilo and Stitch
1  1697479     4.0  2005-07-07        28  2002.0  Lilo and Stitch
2  1990901     5.0  2004-02-16        28  2002.0  Lilo and Stitch
3  1402412     2.0  2003-02-11        28  2002.0  Lilo and Stitch
4   765331     3.0  2003-03-20        28  2002.0  Lilo and Stitch

In [7]:
df_with_titles.drop(columns=['Date','year','movie_id'],inplace = True)

In [8]:
df_with_titles.head()

      User  Rating            title
0  1392773     4.0  Lilo and Stitch
1  1697479     4.0  Lilo and Stitch
2  1990901     5.0  Lilo and Stitch
3  1402412     2.0  Lilo and Stitch
4   765331     3.0  Lilo and Stitch

In [9]:
del df
del movies

In [10]:
#col_dict = dict(zip(data.columns,range(data.shape[1])))

In [11]:
#ind_dict = dict(zip(data.index,range(data.shape[0])))

In [12]:
#data_mat = np.asarray(data)

In [13]:
recomender = sp.Dataset.load_from_df(df_with_titles[['User','title','Rating']].loc[:50000,:],sp.Reader(rating_scale=(0,5)))

In [14]:
del df_with_titles

In [15]:
train , test =sp.model_selection.train_test_split(recomender)

In [16]:
model = SVD()

In [17]:
model.fit(train)

In [18]:
#co = cosine_similarity(data_mat[:50000, :], data_mat[:50000, :])

In [19]:
#def print_user_sim(user_ind):
 #   [print(ind_dict[x], f': {y:.02f}') for x, y in zip(np.argsort(co[user_ind,:])[-2:-102:-1], np.sort(co[user_ind,:])[-2:-102:-1])];